<section class="vh-100" >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <form [formGroup]="LoginForm" >
            <!-- Email input -->
          <div class="form-group">
            <div *ngIf="emailid?.touched && emailid?.invalid" >
              <span>*Email is invalid.</span></div>
            <input type="emailid" id="emailid" class="form-control form-control-lg" 
             placeholder="Enter a valid email address" formControlName="emailid" ng-required="required" #email required/>
              <label class="form-label" for="form3Example3" ></label>
          </div>

          <!-- Password input -->
          <div class="form-group ">
            <div *ngIf="password?.touched && password?.invalid" >
              <span>*Password is required.</span></div>

            <input formControlName="password" type="password" id="password" class="form-control form-control-lg"
              placeholder="Enter password" ng-required="required" />
            <label class="form-label" for="form3Example4"></label>
            
              <label class="form-label" for="form3Example3" ></label>
            
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-success"
            type="submit" [disabled]="!LoginForm.valid" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <button  type="button" class="btn  btn-danger"
            type="submit" (click)="Clear()" style="padding-left: 2.5rem; padding-right: 2.5rem;">Cancel</button>
            <button type="button" class="btn  btn-warning" routerLink="/home"
            type="submit" >Go to Home</button>
            </div>
          </form>
          </div>
        
        
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
            

            <img src="https://img.freepik.com/free-vector/account-concept-illustration_114360-399.jpg?w=2000"
            class="img-fluid" alt="Sample image"  style="height:600px ; position: relative;">
        </div>
      </div>
    </div>
    
  </section>