<section class="vh-100" >
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-6 col-xl-7">
            <h3>User Details..</h3>
            <button class="btn btn-success" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalCenter" (click)="clickAddUser()">Add User</button>
            <button class="btn btn-danger" (click)="Clear()"routerLink="/home"> Log Off</button>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of userData">
                        <td>{{row.firstname}}</td>
                        <td>{{row.lastname}}</td>
                        <td>{{row.email}}</td>
                        <td>
                            <button (click)="onEdit(row)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="btn btn-danger">Edit</button>
                            <button (click)="deleteUser(row)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table> 

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="form-group">
                  <label >First Name</label>
                  <input type="text" class="form-control" id="FirstName"  placeholder="Enter First Name" formControlName="firstName">
                </div>
                <div class="form-group">
                  <label >Last Name</label>
                  <input type="text" class="form-control" id="LastName" placeholder="Enter Last Name" formControlName="lastName">
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="InputEmail"  placeholder="Enter email"formControlName="email">
    
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button id="cancel" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button *ngIf="showAdd" (click)="postUserDetails()"type="button" class="btn btn-success">Save </button>
          <button *ngIf="showUpdate" (click)="updateUserDetails()"type="button" class="btn btn-success">Update </button>
        </div>
      </div>
    </div>
  </div>
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
            

            <img src="https://img.freepik.com/free-vector/account-concept-illustration_114360-399.jpg?w=2000"
            class="img-fluid" alt="Sample image"  style="height:600px ; position: relative;">
        </div>
      </div>
    </div>
    <a style="color:brown">This site is &#169; copyright to LTI. All rights are reserved here.</a>
  </section>